save-exact=true
init-save-exact=true
init-license=UNLICENSED
init-author-name=iGamio
init-author-email=victor.enogwe@gmail.com
init-author-url=https://victorenogwe.me
scripts-prepend-node-path=true
scope=@gamio-technology
package-lock=false
scripts-prepend-node-path=true
# registry=https://npm.pkg.github.com/@gamio-technology
# @gamio-technology:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}